In [1]:
import numpy as np
import os
import pandas as pd
import json
import pickle
import sys

In [2]:
f = open("/Users/dvarelat/Documents/MASTER/TFM/methods/specimens.json")
data = json.load(f)

flatten_list = [
    element for sublist in [data[i] for i in ["stage6"]] for element in sublist
]
flatten_list

['0308_E2', '0401_E1', '0401_E2', '0502_E1', '0517_E2', '0806_E1', '0806_E2']

In [8]:
flatten_list = ["0806_E3", "0401_E3", "0401_E1"]
for e in flatten_list:
    ESPECIMEN = f"2019{e}"
    print(ESPECIMEN)
    DFFILE = f"/Users/dvarelat/Documents/MASTER/TFM/DATA/EXTRACTION/features/orientation/{ESPECIMEN}_angles_myo.csv"
    df = pd.read_csv(DFFILE)
    df["columnarity"] = df.apply(lambda x: (1- x["Elongation2"])*x["angles"], axis=1)
    df.to_csv(DFFILE, index=False, header=True)
    print(DFFILE)

20190806_E3
/Users/dvarelat/Documents/MASTER/TFM/DATA/EXTRACTION/features/orientation/20190806_E3_angles_myo.csv
20190401_E3
/Users/dvarelat/Documents/MASTER/TFM/DATA/EXTRACTION/features/orientation/20190401_E3_angles_myo.csv
20190401_E1
/Users/dvarelat/Documents/MASTER/TFM/DATA/EXTRACTION/features/orientation/20190401_E1_angles_myo.csv

In [6]:
df.describe()

       cell_in_props  closest_vert       angles  Elongation2  columnarity
count    2483.000000   2483.000000  2483.000000  2483.000000  2483.000000
mean     4423.235199   2539.305679     0.565012     0.745334     0.146180
std      2117.930998   1448.973903     0.311510     0.123392     0.116733
min       123.000000      2.000000     0.000543     0.014810     0.000074
25%      3025.500000   1325.000000     0.276426     0.660795     0.051077
50%      4371.000000   2569.000000     0.609815     0.756822     0.118077
75%      5670.500000   3818.000000     0.854558     0.836424     0.214854
max      8749.000000   5000.000000     0.999286     0.994338     0.559709